table{
    font-family: sans-serif;
    border: collapse;
    width: 100%;
}
td, th{
border: 1px-solid #dddddd;
text-align: left;
padding: 8px;
}
tr:nth-child(even){
    background-color: #dddddd;
}
h2{
    text-align: center;
}
table{
    background-image: url(./Images/.2.png);
    background-repeat:initial;
    background-blend-mode: lighten;
    background-size: cover;
}